.Todo-list-container{
    width: 100%;
    min-height: 400px;
}

.todo-add-nav{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.todo-add-nav > input{
    background-color: transparent;
}
.todo-add-nav > i{
    font-size: 18px;
}

